label#timeLabel{
	font-size:60px;
}

label#dateLabel{
	font-size:30px;
}

label#colon{
	font-size:50px;
}

label#stopwatchLabel{
	font-size:35px;
}

spinbutton.vertical{
	font-size:50px;
}

button#amPmButton{
	font-size:25px;
	padding:10px;
}
